<div class="d-flex justify-content-center mt-4">
    <div class="col-6 contactus-form-3d">
        <div class="d-flex justify-content-center">
            <div class="row">
                <h3 style="text-align:center">How we can Help you</h3>
                <form [formGroup]="contactusForm" (ngSubmit)="onSubmitContactUsForm()">

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"><b>Name:</b></label>
                        <div *ngIf="contactusForm.get('name').invalid && 
                    contactusForm.get('name').errors && 
                    (contactusForm.get('name').dirty || contactusForm.get('name').touched)">
                            <p class="text-danger" *ngIf="contactusForm.get('name').hasError('required')">
                                Name is required !!!
                            </p>
                        </div>
                        <input type="text" class="form-control" id="name" formControlName="name">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"><b>Email Address:</b></label>
                        <div *ngIf="contactusForm.get('emailId').invalid && 
                        contactusForm.get('emailId').errors && 
                        (contactusForm.get('emailId').dirty || contactusForm.get('emailId').touched)">
                            <p class="text-danger" *ngIf="contactusForm.get('emailId').hasError('required')">
                                Email Id is required !!!
                            </p>
                        </div>
                        <input type="email" class="form-control" id="emailId" formControlName="emailId"
                            aria-describedby="emailIdHelp">
                        <div id="emailIdHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"><b>Phone Number:</b></label>
                        <div *ngIf="contactusForm.get('phoneNumber').invalid && 
                        contactusForm.get('phoneNumber').errors && 
                        (contactusForm.get('phoneNumber').dirty || contactusForm.get('phoneNumber').touched)">
                            <p class="text-danger" *ngIf="contactusForm.get('phoneNumber').hasError('required')">
                                Contact Number is required !!!
                            </p>
                        </div>
                        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                            aria-describedby="phoneNumberHelp">
                        <div id="phoneNumberHelp" class="form-text">We'll never share your contact number with anyone
                            else.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"><b>Address:</b></label>
                        <div *ngIf="contactusForm.get('address').invalid && 
                        contactusForm.get('address').errors && 
                        (contactusForm.get('address').dirty || contactusForm.get('address').touched)">
                            <p class="text-danger" *ngIf="contactusForm.get('address').hasError('required')">
                                Address is required !!!
                            </p>
                        </div>
                        <input type="text" class="form-control" id="address" formControlName="address">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label"><b>Query</b></label>
                        <div *ngIf="contactusForm.get('query').invalid && 
                        contactusForm.get('query').errors && 
                        (contactusForm.get('query').dirty || contactusForm.get('query').touched)">
                            <p class="text-danger" *ngIf="contactusForm.get('query').hasError('required')">
                                Query is required !!!
                            </p>
                        </div>
                        <textarea class="form-control" id="query" rows="3" formControlName="query"></textarea>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="col-auto ">
                            <button type="submit" class="btn mb-3 buttonBackgroundColor">Submit Request</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
