<div class=' d-flex justify-content-center' *ngFor="let restaurantDtls of selectedRestaurantDtls">
<div class="col-sm-5 mt-4 ms-5 me-2">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="card-header text-center" style="background-color:#9966CC;color:white;font-weight:bold;">Business
                {{restaurantDtls['businessname']|titlecase}}</div>
            <div class="col-md-4">
                <img src={{restaurantDtls.image}}
                    style="width:100%; height:100%" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b>{{restaurantDtls['restauranttype']|titlecase}}</b></h5>
                    <p class="card-text"><b>Address:</b> {{restaurantDtls['address']|titlecase}}</p>
                    <p class="card-text"><b>Email:</b> {{restaurantDtls['email']}}</p>
                    <p class="card-text"><b>Phone:</b>{{restaurantDtls['phone']}} </p>
                    <p class="card-text"><b>Average Cost:</b> {{restaurantDtls['averagecost']}} </p>
                    <p class="card-text"><small class="text-muted">{{restaurantDtls['reviews']}} reviews available</small>
                        <button type="submit" class="btn mb-3 ms-5 mt-1"
                            style="background-color:#9966CC;color:white;font-weight:bold;">Book Your Table</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-sm-5 mt-4 ms-4 me-2">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="card-header text-center" style="background-color:#9966CC;color:white;font-weight:bold;">Business
                {{restaurantDtls['businessname']|titlecase}}</div>
            <div class="col-md-4">
                <img src={{restaurantDtls.image}}
                    style="width:100%; height:100%" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b>{{restaurantDtls['restauranttype']|titlecase}}</b></h5>
                    <p class="card-text"><b>Address:</b> {{restaurantDtls['address']|titlecase}}</p>
                    <p class="card-text"><b>Email:</b> {{restaurantDtls['email']}}</p>
                    <p class="card-text"><b>Phone:</b>{{restaurantDtls['phone']}} </p>
                    <p class="card-text"><b>Average Cost:</b> {{restaurantDtls['averagecost']}} </p>
                    <p class="card-text"><small class="text-muted">{{restaurantDtls['reviews']}} reviews available</small>
                        <button type="submit" class="btn mb-3 ms-5 mt-1"
                            style="background-color:#9966CC;color:white;font-weight:bold;">Book Your Table</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>