<div class="d-flex justify-content-center mt-4">


    <div class="col-6 d-flex justify-content-center">
        <div calss="col-4">
            <select class="form-select" aria-label="Default select example"
                (change)="onStateSelected($event.target.value)">
                <option value="">Select State...</option>
                <option *ngFor="let stateName of uniqueStates" [value]="stateName">
                    {{stateName}}</option>
            </select>
        </div>
    </div>

    <div class="col-6 d-flex justify-content-center" (change)="onCitySelected($event.target.value)">
        <div calss="col-4">
            <select class="form-select" aria-label="Default select example">
                <option value="">Select City...</option>
                <option *ngFor="let cityName of uniqueCities" [value]="cityName">
                    {{cityName}}</option>
            </select>
        </div>
    </div>
</div>


<div class="row" *ngIf="selectedRestaurantDtls?.length>0   else noRestaurantAvailable">
    <app-food-heaven-card [selectedRestaurantDtls]="selectedRestaurantDtls"></app-food-heaven-card>
</div>


<ng-template #noRestaurantAvailable>
    <div *ngIf="isSelectedCityAvailable && isSelectedStateAvailable" class="mt-3  d-flex justify-content-center
     alert alert-warning alert-dismissible fade show" role="alert">
        <strong> Service not provided by food heaven in this location!!!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</ng-template>