<nav class="navbar navbar-expand-sm navbar-dark navbar-design">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-content"
        aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="col-3">      
        <img src="/assets/images/logo.JPG" alt="Food Heaven" height="80" width="150" />
    </div>

    <div class="col-4 navbar-text-color">
        <h5>Food Heaven ! Order Your Meal</h5>
    </div>

    <div class="col-5">
        <!-- Links -->
        <div class="collapse navbar-collapse" id="nav-content">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/aboutus">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/orderFood">Order Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactus">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>